<template name="user">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			<h1> Profil de {{ nom }} {{ prenom }}  :</h1>			
			<div class="margin">Mail : {{ mail }} </div>
			<div class="margin">Télephone : {{ tel }} </div>
			<div class="row">
				<div class="col-sm-12">
					{{ #if is_mytrajets }}
						<h3> Covoiturage(s) proposés:</h3>
						<ul>
							{{ #each mytrajets }}
								<li><a href="{{ pathFor 'trajet' }}">De: {{ depart }}. A: {{ arrivee }}</a> </li>
							{{ /each }}
						</ul>
					{{ else }}
						<div class="text-info margin">{{ nom }} {{ prenom }} n'a proposé aucun covoiturage</div>
					{{ /if }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ #if is_trajet_in }}
						<h3> Covoiturage(s) auxquel(s) il a participé :</h3>
						<ul>
							{{ #each trajet_in }}
								<li><a href="{{ pathFor 'trajet' }}">De: {{ depart }}. A: {{ arrivee }}</a> </li>
							{{ /each }}
						</ul>
					{{ else }}
						<div class="text-info margin"> {{ nom }} {{ prenom }} n'a participé à aucun covoiturage </div>
					{{ /if }}
				</div>
			</div>
		</div>
	</div>
</template>